:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8)
}

html {
    box-sizing: border-box;
    font-family: arial, helvetica, sans-serif;
    color: var(--dark);
}

/*body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}*/

body {
  margin: 0;
  font-family: var(--font-body);
  color: var(--font-color-primary);
  background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav a,
button,
footer {
  font-family: var(--font-headers);
}

nav a,
h2 {
  text-transform: capitalize;
}

h2::first-letter {
  color: red;
  font-size: 4rem;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.wrapper {
    display: grid;
    grid-gap: 20px;
}
#header {
  display: flex;
  align-items: flex-end;
}
#header {
    background:var(--primary);
    display:block;
    text-decoration: none;
    padding: 0.3rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
        box-shadow: var(--shadow);
}
#header a{
    color: black;
    text-align: center;
    align-content: center;
}

/*navigation*/
.icons{
    width: 5vw;
    display: flex;
}

/*Filter*/
.fillers{
    margin: 2vw;
   width: 20vw;

}


.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.main-nav a{
    background:var(--primary);
    display:block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
        box-shadow: var(--shadow);
}
.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
}
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(img/med-food-hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}
.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}
.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}
h2 {
   color: white;
    font-size: 2rem;
  text-shadow: var(--shadow);
}
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.top-box .price {
    font-size: 2.5rem;
    text-align: center;
    color: orangered
}
.top-box-a{
    grid-area: top-box-a;
    background: url(img/download.jpg);

}
.top-box-b{
    grid-area: top-box-b;
        background: url(img/download.jpg);

}
h5 {
    color: white;
    font-size: 1.3rem
}



.productlist img {
  background: red;
  transition-property: width, height;
  transition-duration: 2s;
}
}
.productlist:hover{
  transform: scale(1.03);
    transition: .5s;
}
.hidden{
    display: none;
}
.product:hover  {
  transform: scale(1.08);
    transition: .5s;
}

.productlist > section {
  display: grid;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 60px;
  margin-bottom: 60px;
}

.productlist > section > h2 {
  grid-column: 1/-1;
  margin-bottom: -40px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 5px #000000ab;
}

.product p {
  color: var(--font-color-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
}

.productbody {
  position: relative;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.productbody button {
  margin-top: auto;
  background-color: var(--secondary-light);
  color: #fff;
  border: 0;
  padding: 8px;
  font-size: 1.3rem;
  cursor: pointer;
}
*/

footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}
.soldout {
    position: absolute;
    top:0;
    left:0;
    background: red;
}


button.active {
  background: green;
  color: white;
}
#see_details{
    background-color: skyblue;
}
.data_discount{
    position: absolute;
    background-color: lightgreen;
    color: white;
    height: 2.5vw;
    font-size: 2vw;
    width: 10vw

        ;
    top: -2.5vw;
    left: .1vw;
    border-radius: 10%;

}
.hide {
  display: none;
}

.modal-background {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #7c1f17;
  margin: 1em;
  padding: 2em;
}

@media(max-width: 700px) {
    .top-container {
        grid-template-areas:
            'showcase showcase'
            'top-box-a top-box-b'
    }
    .showcase h1 {
        font-size: 2.5rem;
    }
    .main-nav ul {
        grid-template-columns: 1fr;

    }
     .info {
        grid-template-columns: 1fr;
    }
    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}
@media(max-width:500px){
     .top-container {
        grid-template-areas:
            'showcase '
            'top-box-a '
            'top-box-b'
    }
}
